@page "/"
@inject NavigationManager Nav

<button @onclick="()=>ToCurrentUserPage()">To Current User Page!</button>
<hr/>
<button @onclick="()=>ToAnotherUserPage()">To Another User Page!</button>
<hr/>
<button @onclick="()=>ToLoginPage()">To Login Page!</button>
<hr/>
<button @onclick="()=>ToRegistrationPage()">To Registration Page!</button>

@code
{
    public void ToCurrentUserPage()
    {
        Nav.NavigateTo("/current_user");
    }

    public void ToAnotherUserPage()
    {
        Nav.NavigateTo("/another_user");
    }

    public void ToLoginPage()
    {
        Nav.NavigateTo("/login");
    }

    public void ToRegistrationPage()
    {
        Nav.NavigateTo("/registration");
    }
}