@page "/registration"
@layout LoginLayout
@using AchiveClub.Shared.DTO
@inject RegistrationService _registration
@inject NavigationManager _navigation

<!-----------------------------------nav----------------------------------------->
<header>
    <div class="header-wrapper">
        <div class="img">
            <img src="./image/gllg.png" alt="">
        </div>
        <div class="text-wrapper">
            <h3>
                Компания <m>It_Club</m>
            </h3>
        </div>
    </div>
</header>
<!-----------------------------------main----------------------------------------->
<main>
    <div class="content-wrapper">
        <div class="registerForm">
            <p><a @onclick="ToLogin">Войти в систему</a></p>
            <hr />
        </div>
        <div class="headingWrapper">
            <h3>Зарегистрироваться</h3>
        </div>
        <div class="emailForm">
            <span>Имя</span>
            <input type="text" name="" id="emailInput" @bind-value="_registrationParams.FirstName">
        </div>
        <div class="passwordForm">
            <span>Фамилия</span>
            <input type="text" name="" id="passwordInput" @bind-value="_registrationParams.LastName">
        </div>
        <div class="passwordForm">
            <span>Email</span>
            <input type="text" name="" id="passwordInput" @bind-value="_registrationParams.Email">
        </div>
        <div class="emailForm">
            <span>Место обучения</span>
            <input type="email" name="" id="passwordInput">
        </div>
        <div class="emailForm">
            <span>Пароль</span>
            <input type="email" name="" id="emailInput" @bind-value="_registrationParams.Password">
        </div>
        <div class="passwordForm">
            <span>Подтверждение пароля</span>
            <input type="password" name="" id="passwordInput">
        </div>
        <div class="submitButton">
            <button type="submit" @onclick="RegistrateAsync">Регистрация</button>
        </div>
        <p>@_resultMessage</p>
    </div>
</main>

@code
{
    private string _resultMessage = "";
    private RegisterParams _registrationParams = new RegisterParams();

    private async Task RegistrateAsync()
    {
        if(await _registration.Registrate(_registrationParams))
        {
            _resultMessage = "Вы успешно зарегистрированы!";
        }
        else
        {
            _resultMessage = "Ошибка регистрации!";
        }
    }

    private void ToLogin()
    {
        _navigation.NavigateTo("/login");
    }
}