@page "/topclubsilver"
@inject NavigationManager Nav
<header>
        <div class="heading-wrapper">
            <div id="profileSlogan">
                <div id="arrowExit">
                    <a @onclick="()=>TopClubs()"><img src="./image/left-chevron.png" alt=""></a>
                </div>
                <span id="club">Клуб</span>
                <span><b>«Дворец»</b></span>
            </div>
            <div class="clubPositionLogo">
                <span id="clubPosition">#2</span>
                <img src="./image/Без имени-1.png" alt="">
            </div>
        </div>
    </header>
    <main>
        <div class="historyClub">
            <h3>История клуба:</h3>
            <p id="textHistoryClub">Господа, современная методология разработки не даёт нам иного выбора, кроме
                определения стандартных
                подходов. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством
                простого факта: консультация с широким активом влечет за собой процесс внедрения и модернизации
                существующих финансовых и административных условий. </p>
            <p id="adressHistoryClub">ул. Долгобродская 24,к. 74-75</p>
        </div>
        <div class="topThreeUsers">
            <div class="topThreeUsersHead">
                <h3>Топ <b>3</b> игроков: </h3>
            </div>
            <div class="topOneUser">
                <div class="userImage">
                    <img src="./image/Rectangle_20.svg" alt="">
                </div>
                <div class="userAboutWrapper">
                    <div class="nameSurnameUser">
                        <span>Имя Фамилия</span>
                    </div>
                    <div class="xpCountUser">
                        <span>100400 XP</span>
                    </div>
                </div>
                <div class="ClubLogoAndPositionUser">
                    <div class="topPositionUser">
                        <span>#1</span>
                    </div>
                </div>
            </div>
            <div class="topTwoUser">
                <div class="userImage">
                    <img src="./image/Rectangle_20.svg" alt="">
                </div>
                <div class="userAboutWrapper">
                    <div class="nameSurnameUser">
                        <span>Имя Фамилия</span>
                    </div>
                    <div class="xpCountUser">
                        <span>100400 XP</span>
                    </div>
                </div>
                <div class="ClubLogoAndPositionUser">
                    <div class="topPositionUser">
                        <span>#2</span>
                    </div>
                </div>
            </div>
            <div class="topThreeUser">
                <div class="userImage">
                    <img src="./image/Rectangle_20.svg" alt="">
                </div>
                <div class="userAboutWrapper">
                    <div class="nameSurnameUser">
                        <span>Имя Фамилия</span>
                    </div>
                    <div class="xpCountUser">
                        <span>100400 XP</span>
                    </div>
                </div>
                <div class="ClubLogoAndPositionUser">
                    <div class="topPositionUser">
                        <span>#3</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-----------------------------------footer----------------------------------------->
    <div class="px"></div>
    <footer>
        <div class="footerSections">
            <div class="secondSection">
                <a href="#"><img src="./image/Rectangle_20.svg" alt=""></a>
                <hr />
            </div>
            <div class="firstSection">
                <a href="#"><img src="./image/Rectangle_20.svg" alt=""></a>
            </div>
            <div class="thirdSection">
                <a href="#"><img src="./image/Rectangle_20.svg" alt=""></a>
            </div>
        </div>
    </footer>
    <!-----------------------------------footer----------------------------------------->
@code {
    public void TopClubs()
    {
        Nav.NavigateTo("/topclubs");
    }
}