@page "/topusers"

<header>
        <div class="heading-wrapper">
            <div id="profileSlogan">
                <span>Топ <b>100</b> игроков</span>
            </div>
        </div>
    </header>
    <!-----------------------------------header----------------------------------------->
    <main>
        <div class="topUsers">
            <div class="topOneUser">
                <div class="userImage">
                    <img src="./image/Rectangle_20.svg" alt="">
                </div>
                <div class="userAboutWrapper">
                    <div class="nameSurnameUser">
                        <span>Имя Фамилия</span>
                    </div>
                    <div class="xpCountUser">
                        <span>100400 XP</span>
                    </div>
                </div>
                <div class="ClubLogoAndPositionUser">
                    <div class="clubUserLogo">
                        <img src="./image/Без имени-1.png" alt="">
                    </div>
                    <div class="topPositionUser">
                        <span>#1</span>
                    </div>
                </div>
            </div>
            <div class="topTwoUser">
                <div class="userImage">
                    <img src="./image/Rectangle_20.svg" alt="">
                </div>
                <div class="userAboutWrapper">
                    <div class="nameSurnameUser">
                        <span>Имя Фамилия</span>
                    </div>
                    <div class="xpCountUser">
                        <span>100400 XP</span>
                    </div>
                </div>
                <div class="ClubLogoAndPositionUser">
                    <div class="clubUserLogo">
                        <img src="./image/Без имени-1.png" alt="">
                    </div>
                    <div class="topPositionUser">
                        <span>#2</span>
                    </div>
                </div>
            </div>
            <div class="topThreeUser">
                <div class="userImage">
                    <img src="./image/Rectangle_20.svg" alt="">
                </div>
                <div class="userAboutWrapper">
                    <div class="nameSurnameUser">
                        <span>Имя Фамилия</span>
                    </div>
                    <div class="xpCountUser">
                        <span>100400 XP</span>
                    </div>
                </div>
                <div class="ClubLogoAndPositionUser">
                    <div class="clubUserLogo">
                        <img src="./image/Без имени-1.png" alt="">
                    </div>
                    <div class="topPositionUser">
                        <span>#3</span>
                    </div>
                </div>
            </div>
            <div class="topUser">
                <div class="userImage">
                    <img src="./image/Rectangle_20.svg" alt="">
                </div>
                <div class="userAboutWrapper">
                    <div class="nameSurnameUser">
                        <span>Имя Фамилия</span>
                    </div>
                    <div class="xpCountDefaultUser">
                        <span>100400 XP</span>
                    </div>
                </div>
                <div class="ClubLogoAndPositionUser">
                    <div class="clubUserLogo">
                        <img src="./image/Без имени-1.png" alt="">
                    </div>
                    <div class="topPositionUser">
                        <span>#4</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-----------------------------------main----------------------------------------->
    <!-----------------------------------footer----------------------------------------->
    <footer>
        <div class="footerSections">
            <div class="firstSection">
                <a href="#"><img src="./image/Rectangle_20.svg" alt=""></a>
            </div>
            <div class="secondSection">
                <a href="#"><img src="./image/Rectangle_20.svg" alt=""></a>
                <hr />
            </div>
            <div class="thirdSection">
                <a href="#"><img src="./image/Rectangle_20.svg" alt=""></a>
            </div>
        </div>
    </footer>
    <!-----------------------------------footer----------------------------------------->