@using System.ComponentModel.DataAnnotations

<div>
    <input type="text" placeholder="admin key" @bind-value="_message"/>
    <button @onclick="SubmitForm">Submit</button>
    <button @onclick="Cancel">Cancel</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    private string _message;

    protected override void OnInitialized() => BlazoredModal.SetTitle("Введите ключ адмистратора!");

    async Task SubmitForm() => await BlazoredModal.CloseAsync(ModalResult.Ok(_message));
    async Task Cancel() => await BlazoredModal.CancelAsync();

}
