<div class="adminKeyinput">
    <input type="text" placeholder="admin key" @bind-value="_message" />
    <div class="buttons">
        <button id="buttonSubmit" @onclick="SubmitForm">Submit</button>
    </div>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    private string _message;

    protected override void OnInitialized() => BlazoredModal.SetTitle("Введите ключ адмистратора!");

    async Task SubmitForm() => await BlazoredModal.CloseAsync(ModalResult.Ok(_message));
}