@inherits LayoutComponentBase
@inject NavigationManager _navigation

@Body

<div class="px"></div>
<footer>
    <div class="footerSections">
        <div class="firstSection">
            <a href="@_profilePath"><img src="./image/Rectangle_20.svg" alt=""></a>
            @if(LocalPath == _profilePath)
            {
                <hr />
            }
        </div>
        <div class="secondSection">
            <a href="@_topUsersPath"><img src="./image/Rectangle_20.svg" alt=""></a>
            @if(LocalPath == _topUsersPath)
            {
                <hr />
            }
        </div>
        <div class="thirdSection">
            <a href="@_topClubsPath"><img src="./image/Rectangle_20.svg" alt=""></a>
            @if(LocalPath == _topClubsPath)
            {
                <hr />
            }
        </div>
    </div>
</footer>

@code
{
    public string LocalPath => (new Uri(_navigation.Uri)).LocalPath;

    private const string _profilePath = "/";
    private const string _topUsersPath = "/topusers";
    private const string _topClubsPath = "/topclubs";
}