@inherits LayoutComponentBase
@inject NavigationManager _navigation

@Body

<div class="px"></div>
<footer>
    <div class="footerSections">
        <div class="firstSection">
            <a @onclick="ToProfile"><img src="./image/Rectangle_20.svg" alt=""></a>
            @if(LocalPath == "/")
            {
                <hr />
            }
        </div>
        <div class="secondSection">
            <a @onclick="ToUsersTop"><img src="./image/Rectangle_20.svg" alt=""></a>
            @if(LocalPath == "/topusers")
            {
                <hr />
            }
        </div>
        <div class="thirdSection">
            <a @onclick="ToClubsTop"><img src="./image/Rectangle_20.svg" alt=""></a>
            @if(LocalPath == "/topclubs")
            {
                <hr />
            }
        </div>
    </div>
</footer>

@code
{
    public string LocalPath => (new Uri(_navigation.Uri)).LocalPath;

    private void ToProfile()
    {
        _navigation.NavigateTo("/");
    }

    private void ToUsersTop()
    {
        _navigation.NavigateTo("/topusers");
    }

    private void ToClubsTop()
    {
        _navigation.NavigateTo("/topclubs");
    }
}